
<div class="social-icons">
  <div>
    {% if site.github_username %}
      <a class="fa fa-github" href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.bitbucket_username %}
      <a class="fa fa-bitbucket" href="https://bitbucket.org/{{ site.bitbucket_username }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    <!-- {% if site.stackoverflow_id %}
      <a class="fa fa-stack-overflow" href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %} -->
    <!-- <a class="fa fa-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}"target="_blank" rel="noopener noreferrer"></a> -->
    {% if site.twitter_username %}
      <a class="fa fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.skype_username %}
      <a class="fa fa-skype" href="skype:{{ site.skype_username }}?userinfo"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.steam_nickname %}
      <a class="fa fa-steam-square" href="http://steamcommunity.com/id/{{ site.steam_nickname }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.google_plus_id %}
      <a class="fa fa-google-plus" href="https://plus.google.com/{{ site.google_plus_id }}/posts"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.email %}
      <a class="fa fa-envelope" href="mailto:{{ site.email }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.linkedin_username %}
      <a class="fa fa-linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.angellist_username %}
      <a class="fa fa-angellist" href="https://angel.co/{{ site.angellist_username }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.medium_id %}
      <a class="fa fa-medium" href="https://medium.com/@{{ site.medium_id }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.youtube_channel_id %}
      <a class="fa fa-youtube-play" href="https://youtube.com/channel/{{ site.youtube_channel_id }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.google_scholar_id %}
    <a class="ai ai-google-scholar" href="https://scholar.google.com/citations?user={{ site.google_scholar_id }}" target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.kaggle_username %}
    <a href="https://www.kaggle.com/{{ site.kaggle_username }}" target="_blank" rel="noopener noreferrer">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M18.825 23.859c-.022.092-.117.141-.281.141h-3.139c-.187 0-.351-.082-.492-.248l-5.178-6.589-1.448 1.374v5.111c0 .235-.117.352-.351.352H5.505c-.236 0-.354-.117-.354-.352V.353c0-.233.118-.353.354-.353h2.431c.234 0 .351.12.351.353v14.343l6.203-6.272c.165-.165.33-.246.495-.246h3.239c.144 0 .236.06.285.18.046.149.034.255-.036.315l-6.555 6.344 6.836 8.507c.095.104.117.208.07.358"/>
      </svg>
    </a>
    {% endif %}
  </div>
  <div class="right">
    {% if site.bitcoin_url %}
      <a class="fa fa-bitcoin" href="{{ site.bitcoin_url }}"></a>
    {% endif %}
    {% if site.paypal_url %}
      <a class="fa fa-paypal" href="{{ site.paypal_url }}"></a>
    {% endif %}
    {% if site.flattr_button %}
      {{ site.flattr_button }}
    {% endif %}
  </div>
</div>
<div class="clearfix"></div>
