---
layout: compress
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body class="site">
  {% include header.html %}
  <div class="site-wrap">
    
    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">

        {% if page.headshot %}
          <img src="{{ page.headshot | prepend: site.baseurl }}"
               alt="Headshot"
               style="width:160px;border-radius:16px;margin-bottom:20px;">
        {% endif %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>
